.block-editor .wp-block-canino-ad {
	background:lightgrey;
	padding:10px;
	margin:0 auto;

	&.wp-block-canino-ad.ad-size-leaderboard {
		width: 728px;
		max-width: 100%;
		height: 90px;
	}

	&.wp-block-canino-ad.ad-size-medium {
		width: 300px;
		max-width: 100%;
		height: 250px;
	}
}

