@import '../../scss/settings';

.wp-block-embed {
	margin: 32px 0;
}

.wp-block-quote {
	font-size:1.2rem;
}

cite {
	font-style: italic;
}

.wp-block-gallery {
	figure {
		cursor:pointer;
		border:1px solid transparent;
		&:hover {
			border-color:$primary-color;
		}
	}
}
