.wp-block-canino-slider {
	li.glide__slide figure {
		cursor:pointer;
		img {
			border:1px solid transparent;
		}
		&:hover {
			img {
				border:1px solid #d8d8d8;
			}
			background: #ccc;
		}
		&.is-selected .editor-rich-text {
			border: 1px solid #d8d8d8;
			padding: 10px;
			background:white;
		}
	}

	.glide__bullets {
		bottom:0 !important;
		background: #333;
		padding: 10px;
		box-shadow: 1px 1px 1px black;
	}
}
