.wp-block-canino-slider {
	@import '~@glidejs/glide/src/assets/sass/glide.core';
	@import '~@glidejs/glide/src/assets/sass/glide.theme';
}


.wp-block-canino-slider {
	position:relative;
	background:black;
	ul {
		margin-left:0;
	}
	ul li.glide__slide {
		list-style:none;
		figure {
			text-align: center;
			margin:0;

		}
	}
}
