#canino-grid {
  margin-bottom:$global-margin * 2;
}

.canino-grid {
  padding-left:map_get( $grid-column-gutter, medium ) / 2;
  padding-right:map_get( $grid-column-gutter, medium ) / 2;
  .canino-grid-item {
    padding:0;
    position:relative;
    img {
      width:100%;
      @include animate-opacity();
    }

    a:hover {
      color:$white;
      text-decoration: underline;
    }

    &:hover {
      img {
        opacity:$img-opacity;
      }
      a {
        text-decoration: underline;
      }
    }
  }
  .canino-grid-item-content {
    position:absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    top: auto;
    cursor: pointer;
    padding: $global-padding;
  }
  .canino-grid-item-content h2 {
    color:$white;
    a {
      background: unquote("rgba(0,0,0,.7)");
      padding: 3px 0;
    }
  }


}

#canino-grid-bottom h2 {
  font-size:$global-font-size;
  @include breakpoint(small down) {
    font-size:$small-font-size;
  }
}
