article.hentry {
  padding-top:$global-padding;
  padding-bottom:$global-padding;

  .post-image > img {
    width:100%;
  }

  header {
    .post-image {
      margin-bottom: $global-margin;
    }
  }

  ul.post-details {
    margin-left:0;
    font-size:$small-font-size;
    li {
      &.post-category {
        font-weight: $global-weight-bold;
      }
      display: inline-block;
      margin-right:$global-margin / 2;

      &.post-date {
        color:$dark-gray;
      }
    }

    .dashicons {
      width:17px;
      height:17px;
      font-size:17px;
    }
  }

  span.post-author {
    font-size:$small-font-size;
    color: $dark-gray;
  }

  &.post-cols {
    img {
      @include animate-opacity();
    }
    @include breakpoint(medium down) {
      .post-header {
        & > .post-image,
        & > .post-title {
          float:left;
        }
        & > .post-image {
          max-width:27%;
          margin-right:3%;
        }
        & > .post-title {
          max-width:70%
        }
      }
      .post-content {
        display: none;
      }
      .post-footer {
        display:none
      }
    }
  }
}

body.single, body.page {
  article.hentry {
    padding-top: 0;
  }
}

body.single {
  .hentry {
    .post-content {
      h1,h2,h3,h4,h5,h6 {
        margin-top: $global-margin * 2;
      }
    }
    h4.post-excerpt {
      margin-top:0;
    }

    .post-footer > div.sticky > div {
      margin-bottom: $global-margin;
      border-top:1px solid $light-gray;
      padding-top:$global-padding;
      &:first-child {
        border-top:none;
      }
      h3 {
        font-size: $small-font-size;
        font-weight: 400;
        text-align: left;
        display: block;
        margin-bottom:.5rem
      }

      &.post-banner-author-avatar h3 {
        text-align: center;
        margin-top:$global-margin/2;
      }

      &.post-sharing {
        margin-bottom:2*$global-margin;
        padding-top:0;
        > li {
          float:none;
          display:block;
        }
        .share-end {
          display: none;
        }
        .sd-title:before {
          border:none;
        }
      }

      &.post-tags > span {
        text-align:left;
        display: block;
        > a {
          font-size:$small-font-size;
          margin-bottom:$global-margin / 3;
        }
      }

    }

    .post-footer > div:first-child {
      margin-top:0;
    }


    .post-details {
      *, .post-date  {
        color:darken( $dark-gray, 30% );
      }

      > li {
        margin-right: $global-margin;
      }
      i {
        margin-right:rem-calc( 3 );
      }
    }
    .sticky {
      @include breakpoint(large up) {
        max-width:109px;
      }
      @include breakpoint(medium down) {
        display:none;
      }
    }
  }
}

.post-password-form {
  margin-top:2em;
  .password-form-fields {
    max-width:400px;
    margin:0 auto;
  }
}
