.widget-area {
  .widget {
    margin-top: $global-margin;
    margin-bottom: $global-margin * 2;
    &:first-child {
      margin-top:0;
    }

    h4.widget-title {
      @include title-section();
      margin-bottom:$global-margin;
    }
  }
}

#top-bar {
  position: relative;

  text-align:right;
  .widget {
    vertical-align: top;
    margin-top:0;
    display: inline-block;
    margin-right: $global-margin;
    margin-bottom:0;
    &:last-child {
     margin-right:0;
    }
  }
  .widget-title {
    display:none;
  }
}

#secondary > .widget-area {
  @include breakpoint(medium down) {
    text-align:center;
  }
}

#home-top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .widget {
    flex-grow: 2;
    margin-top:0;
    margin-right: 1rem;
    &:last-child {
      margin-right:0;
    }
  }
}

#home-top-bar-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  .widget {
    flex-grow: 2;
    margin-top:0;
    margin-right: 1rem;
    &:last-child {
      margin-right:0;
    }
  }
}
