.widget.el-parte {
  .el-parte-list {
    list-style:none;
    margin-left:0;
    li {
      margin-bottom:$global-margin;
      @include flex();
    }
    .el-parte-thumbnail {
      min-width:100px;
      display:inline-block;
      margin-right: 5%;
      margin-bottom: $global-margin / 2;
    }
    .el-parte-content {
      display:inline-block;
      .el-parte-date {
        color: $dark-gray;
        font-size:$small-font-size;
      }
      h5 {
        font-size:rem-calc(15);
      }
    }
  }
}

#secondary .widget_twitter_timeline .widget-title {
  display:none;
}

#secondary div.mc4wp-form-fields > h6 {
  display:none;
}