$medium-sizes: map-get($header-sizes, 'medium' );
.widget.articulos {
  ul.articulos-list {
    list-style:none;
    margin-left:0;
    li {
      margin-bottom:$global-margin * 2;
    }
    .articulos-date,
    .articulos-author {
      color:$dark-gray;
    }
    .articulos-author {
      font-style:italic;
    }
    .articulos-date {
      font-size:$small-font-size;
    }
    .articulos-content p {
      margin:0;
    }

    &.big {
      h5 {
        margin-top: $global-margin;
        font-size:rem-calc( map-get($medium-sizes, 'h2' ) );
      }
      .articulos-date {
        display:none;
      }
    }

    &.small {
      .articulos-post {
        display:flex;
        .articulos-header {
          flex: 0 0 rem-calc( 100 ) + $global-margin;
        }
        .articulos-content {
          flex-grow:2;
          p {
            margin:0;
          }
        }
      }
      h5 {
        font-size:rem-calc( 15 );
      }
      .articulos-author,
      .articulos-category {
        display:none;
      }
    }
    &.text {
      h5 {
        font-size:rem-calc(14);
      }
      .articulos-category {
        font-size:rem-calc(13);
      }
      .articulos-date {
        display:none;
      }
      .articulos-author {
        display:none;
      }
    }

  }
}



#secondary .widget_twitter_timeline .widget-title {
  display:none;
}

#secondary div.mc4wp-form-fields > h6 {
  display:none;
}



.widget_top-posts .widgets-list-layout {
  li > a {
    width: 25%;
  }

  div.widgets-list-layout-links {
    max-width: 100%;
    width: 70%;
    a {
      color: $body-font-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
}